// helpers
@import 'src/assets/stylus/base/fonts.styl'
@import 'src/assets/stylus/base/vars.styl'

// main styles
@import 'src/assets/stylus/base/settings.styl'
@import 'src/assets/stylus/base/general.styl'

@import 'src/assets/stylus/components/index.styl'
@import 'src/assets/stylus/pages/index.styl'